<div class= "asobinagara">
  <h1>ASOBINAGARA(参加者用)</h1>
</div>
<div class="signup">
  <div class="singup_title">
    <span>Sign-in with email</span>
  </div>
  <div class="body">
    <%= form_for :user, url: users_login_create_path do |f| %>
        <p><%= f.label :email%></p>
        <p><%= f.text_field :email, :placeholder => "email" %></p>
        <p><%= f.label :password %></p>
        <p><%= f.password_field :password, :placeholder => "password" %></p>
        <div>
            <%= f.submit :Login, class: 'button'%>
        </div>
    <% end %>
  </div>
  <div class= "login">
    <span onclick="location.href = '/users/new'" >会員登録</span>
  </div>
</div>
<div class= "hand_content">   
  <img class="hand_img" src="/login_head.png">
</div>