<div class="user_worksshops_title">
  <span><%= @workshop.w_title %></span>
</div>
<div class="user_workshop_box_image">
  <p> <%= image_tag @workshop.image.url, size: '300x300' %>
</div>  
<div class="user_average-score">
  <div class="user_star-rating">

    
  <div class="user_scroe_detail">
    <p><%= @workshop.posts.count %>件のレビュー</p>
  </div>
</div> 
<% if @workshop.users == current_user.id %>
  <span><%= @workshop.w_title %></span>
    <div class="workshop_detail">
      <p><%= @workshop.prefecture %></p>
      <p><%= @workshop.address1 %> </p>
      <p><%= @workshop.address2 %> </p>
      <p><%= @workshop.w_detail %> </p>
      <p><%= @workshop.time %> </p>
      <p><%= @workshop.personnel %> </p>
      <p><%= @workshop.precautions %> </p>
    </div>
    <div class="s_b"><p><%= link_to "他のworkshopを見る",users_workshops_index_path(workshop), class: "review_check" %></p></div>
    </div>      
<% end %> 
<% if Reservation.exists?(workshop_id: @workshop.id, user_id: current_user.id) %>
 <p><%= link_to "レビューを書いてみる",users_workshops_show_path(current_user,@workshop.id),class: "w_btn_r_1" %></p>
<% end %>
<% @posts.each do |post| %>
  <div class="reviews">
    <div class="reviews_box_image">
      <%= image_tag post.image.url, size: '200x200' if post.image? %>
    </div>
    <div class= "reviews_box_text">
      <div class= "reviews_box_text1">
        <span>タイトル：<%= post.title %></span>
      </div> 
      <div class= "reviews_box_content">
        <p>コメント：<%= post.content %></p>
      </div>   
    </div> 
  </div>  
    <% if post.user_id == current_user.id %>
    <div class="post_link_box"> <p> <%= link_to "編集", users_workshops_edit_path(user_id: current_user.id, workshop_id: @workshop.id, post_id: post.id), class: "link_text" %> </p>
      <p><%= link_to "削除",
                      users_workshop_post_path(workshop_id: post.workshop_id, id: post.id),
                      method: :delete,
                      data: { confirm: '本当に削除しますか？' },
                      class: "link_text" %></p>
 
    </div>
    <%end%>
   
<% end %> 
<div class="link_last">

<p><%=link_to "他のワークショップに移動",users_workshops_index_path,class: "link_text"%></p>
<div>
