<div class="p_body">
  <div class="p_title">
  </div>  
  <div class="rating-box">
    <%= form_for @post, url: posts_create_path(workshop) do |f| %>
          <div class="body_box">
            <div class="b_b_t">
              <p> <%= f.label :ワークショップの写真をアップロード！%></p>
            </div>  
            <div class="b_b_i">
              <p><%=f.file_field :image%></p>
            </div>
          </div>
                <!-星マーク>
            <div class="ratings">
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                <div class="rating-value-display">
                  <span id="rating-value-display">0</span>/5
                </div>  
            </div> 
          <div class= "body_box">   
            <p> <%= f.hidden_field :score, id:"rating-value" %></p>   
            <p> <%= f.hidden_field :workshop_id, value: workshop.id %></p>
            <p> <%= f.text_field :title, :placeholder => "タイトル",class: "review_title_box"%></p>
            <p> <%= f.text_field :content, :placeholder => "あなたの感想を書いて下さい。",class: "review_textarea_box"%></p>
            <p> <%= f.submit "投稿", class: "button" %></p>
          </div>  
    <%end%>
  </div>
</div>
<script>
// class = "ratings"の子要素を取得
const stars = document.querySelector(".ratings").children;
// const stars = document.getElementsByClassName("ratings").children;
// id = "rating-value"の要素を取得
const ratingValue = document.getElementById("rating-value");
// id = "rating-value-display"の要素を取得
const ratingValueDisplay = document.getElementById("rating-value-display");
// indexという変数を定義
let index;

// reveiwの投稿ページに遷移するとstars.lengthの値（5）だけ繰り返し
for(let i=0; i<stars.length; i++){
	console.log(stars.length)
	// 星にカーソルが乗ったときに実行する関数を定義
	stars[i].addEventListener("mouseover",function(){
		// stars.lengthの値（5）だけ繰り返し
		// つまり、星カーソルが乗った時、5回繰り返される
		for(let j=0; j<stars.length; j++){
			console.log(stars.length)
			// まず全て星をくり抜く
			stars[j].classList.remove("fa-star");
			stars[j].classList.add("fa-star-o");
		}
		// そのあと星の数だけ以下の関数が繰り返される。
		for(let j=0; j<=i; j++){
			console.log(stars.length)
			stars[j].classList.remove("fa-star-o");
			// カーソルが乗った星まで星を塗りつぶす
			stars[j].classList.add("fa-star");
		}
	})
	// クリックされた星の番号+1をratingValueに代入
	stars[i].addEventListener("click",function(){
		ratingValue.value = i+1;
		ratingValueDisplay.textContent = ratingValue.value;
		// indexにクリックされた星の番号を代入
		index = i;
	})
	// 星からカーソルが離れたときに実行される関数
	stars[i].addEventListener("mouseout",function(){
		// まず5回繰り返す
		for(let j=0; j<stars.length; j++){
			// まず全ての星をくり抜く
			stars[j].classList.remove("fa-star");
			stars[j].classList.add("fa-star-o");
		}
		for(let j=0; j<=index; j++){
			// クリックされている星まで塗りつぶす
			stars[j].classList.remove("fa-star-o");
			stars[j].classList.add("fa-star");
		}
	})
}
</script>