<p><%=@user.user_name%>様のマイページ</p>
<p>name: <%= @workshop.user_name %></p>
<p>email: <%= @workshop.email %></p>
<p>first_name: <%=current_user.first_name %></p>
<p>last_name: <%= current_user.last_name%></p>
<p>birthday: <%= current_user.birthday%></p>
<p>gender: <%= current_user.gender%></p>