  <div class="w_header">
    <div class="w_s_header">ASOBINAGARA</div><!三本のイメージを押したら　カテゴリーが開きます。-->
    <div class="w_s_header1">sign up</div>
  </div> 
  <div class="w_side_header">
    <p>Home>workshopsの詳細ページ</p><!三本のイメージを押したら　カテゴリーが開きます。-->
  </div>
<body>
<div class="w_body">
  <% @workshops.each do |workshop| %>
  <div class="w_table_left">
        <div class="w_title"><span ><%= workshop.w_title%></span></div>
        <div class="w_theme"><span><%= workshop.w_theme%></span></div>
        <div class="w_img">
          <p> <%= image_tag workshop.image.url, size: '200x200'%>  
        </div>
  </div>
  <div class="w_table_right">
        <p>空き状況</p>
        <p><%= workshop.time%></p>
        <p>定員<%= workshop.personnel%></p>
        <p><%= workshop.prefecture%></p>
        <p>場所詳細<%= workshop.address1%></p>
        <p>駐車場ありなし</p>
        <p>like</p>
        <p><input type="button" value="予約する" class= "w_btn_b"  onclick="location.href = '/home/select_position'"></p> 
        <p><input type="button" value="レビュー" class= "w_btn_r"  onclick="location.href = '/home/select_position'"></p> 
  </div>
  <% end %> 
  </div>
</body>
