<h1>Workshops#new</h1>
<p>Find me in app/views/workshops/new.html.erb</p>
<div class= "asobinagara">
<h1>ASOBINAGARA</h1>
</div>
<div class="signup">
    <div class="signup_text">
        <span>ワークショップ詳細登録</span>
    </div>
     <div class="body">
        <%= form_for @workshop, url: workshops_create_path do|f| %>
                <div class="body_box">    
                <%= f.label :ワークショップ名 %>
                </div>  
                <%= f.text_field :w_title, :placeholder => "ワークショップ名" %>
                <div class="body_box"> 
                <%= f.label :ワークショップのテーマ%>
                </div>  
                <%= f.text_field :w_theme, :placeholder => "ワークショップのテーマ"  %>
                <div class="body_box"> 
                <%= f.label :主催者名 %>
                </div>  
                <div>
                <p><%= f.label :firstname %></p>
                <p><%= f.text_field  :firstname, :placeholder => "あなたの名前を入力して下さい。" %></p>
                <p><%= f.label :lastname %></p>
                <p><%= f.text_field  :lastname, :placeholder => "あなたの名前を入力して下さい。" %></p>
                <p><%= f.label :firstname %></p>
                <p><%= f.text_field :f_name_E, :placeholder => "カタカナ表記/英語"%></p>
                <p><%= f.label :lastname %></p>
                <p><%= f.text_field :l_name_E, :placeholder => "カタカナ表記/英語"%></p>
                <p><%= f.label :workshopのイメージ %></p>
                <p><%= f.file_field  :image %></p>
                <div class="sign_btn">
                    <p><%= f.button "投稿", class: "button" %></p>
                </div>
        <%end%>  
</div>

