<div class="review-content">
  <div class="review-title"><span><%=@workshop.w_title%><p>レビューページ！</p></span></div>
    <p> <%=image_tag @workshop.image.url, size: '300x300'%>  
    <div class="average-score">
      <div class="star-rating">
        <div class="star-rating-front" style="width:<%= @workshop.review_score_percentage %>%"> ★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display">
       <p>  <%= @workshop.avg_score %>点（<%= @workshop.posts.count %>件のレビュー）</p>
      </div>
    </div>
    <%link_to"ワークショップ詳細内容編集",workshops_edit_path(@workshop.id)%>
  </div>
    <% if current_user%>
      <%= render 'workshops/form', post: @post, workshop: @workshop %>
    <%end%>
     <% @workshop.posts.each do |post| %>
       <div class="reviews">
          <div class="reviews_box_image">
            <%=image_tag post.image.url, size: '200x200' %>
            <p><%= post.score%> 点</p>
          </div>
          <div class= "reviews_box_text">
            <div class= "reviews_box_text1">
             <span>タイトル：<%= post.title%></span>
            </div> 
            <div class= "reviews_box_content">
              <p>コメント<%= post.content%></p>
            </div>   
          </div> 
       </div>
     <%end%>
      <div class="s_b"><p><%=link_to "workshopを編集する。",workshops_edit_path(@workshop), class: "review_check"%></p></div>
    <div class="s_b"><p><%=link_to "他のworkshopを見る",workshops_index_path(@workshop), class: "review_check"%></p></div>
</div>