<span><%= workshop.w_title %></span>
<div class="w_p_u"><p><%= current_planner.user_name %>様が投稿したworkshopの詳細ページ</p></div>
<div class="eviews_box_image">
  <p> <%= image_tag @workshop.image.url, size: '300x300' %>
</div>  
<div class="average-score">
  <div class="star-rating">
    <div class="star-rating-front" style="width:<%= @workshop.review_score_percentage %>%"> ★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
  <div class="average-score-display">
    <p><%= @workshop.avg_score %>点（<%= @workshop.posts.count %>件のレビュー）</p>
  </div>
</div> 
<% if @workshop.planner_id == current_planner.id %>
    <div class="workshop_detail">
      <p><%= @workshop.prefecture %></p>
      <p><%= @workshop.address1 %> </p>
      <p><%= @workshop.address2 %> </p>
      <p><%= @workshop.w_detail %> </p>
      <p>開催時間:<%= @workshop.start_time.strftime("%H:%M")%>〜<%= @workshop.end_time.strftime("%H:%M")%></p>
      <p>開催期間:<%= @workshop.start_date%>〜<%= @workshop.end_date%></p>
      <p><%= @workshop.personnel %> </p>
      <p><%= @workshop.precautions %> </p>
    </div>  
    <div class="s_b"><p><%= link_to "workshopの内容を編集する",planners_workshops_edit_path(@workshop), class: "review_check", data: {"turbolinks" => false} %></p></div>
  </div>      
<% end %>  

 
 
 