<div class="w_side_header_p">
  <p>Home> workshopsの一覧ページ test</p>
</div><!三本のイメージを押したら　カテゴリーが開きます。-->
<div class="w_body">
  <% @workshops.each do |workshop| %>
    <div class="w_table_left">
      <div class="w_header_left">
        <div class="w_title">
          <span><%= workshop.w_title%></span>
        </div>
        <div class="w_theme">
          <span><%= workshop.w_theme%></span>
        </div>
      </div>  
      <div class="w_img_d">
        <p> <%= image_tag workshop.image.url,class:"w_img"%>  
      </div>
      <div class="average-score">
        <div class="w_star-rating">
        <%link_to "workshop詳細ページに行く",%>
              <div class="star-rating-front" style="width:<%= workshop.review_score_percentage %>%"> ★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
        </div>
          <p><%= workshop.avg_score %>点（<%= workshop.posts.count %>件のレビュー）</p>
      </div>
    </div>
    <div class="w_table_right">
      <% if current_planner.present? %>
        <div class= "w_p_table_text">
          <p>
          開催期間
          </p>
          <p>
            <%= workshop.start_date%>~
          </p>
          <p>
            <%= workshop.end_date%>
          </p>
          <p>
            開催時間
          </p>  
            <%= workshop.start_time.strftime("%H:%M")%>~
            <%= workshop.end_time.strftime("%H:%M")%>
          </p>
          <p>定員</p>
          <p>
          <%= workshop.personnel %>
          </p>
          <p>開催場所</p>
          <p><%= workshop.prefecture %></p>
          <p><%= workshop.address1 %></p>
          <p><%= workshop.address2 %></p>
          <p>駐車場ありなし</p>
          <p>like</p>
        </div>
        <div class="w_btn_r_1"><p><%= link_to "レビュー",planners_posts_index_path(current_planner,workshop.id,@posts),class: "w_btn_r"%></p></div>
        <% if current_planner.id == workshop.planner_id %>
        <div class="w_btn_r_1"><p><%= link_to "予約状況",planners_booking_index_path(current_planner,workshop.id),class: "w_btn_r"%></p></div>
        <div class="w_btn_r_1"><p><%= link_to "編集",planners_workshops_show_path(current_planner,workshop.id),class: "w_btn_r"%></p></div>
        <div class="w_btn_r_1"><p><%= link_to "削除",planners_workshops_delete_path(current_planner,workshop.id),method: :delete,class: "w_btn_r" %></p></div>
        <% end %>
      <% else %>
        <p>空き状況</p>
        <p><%= workshop.start_date%></p>
        <p><%= workshop.end_date%></p>
        <p><%= workshop.start_time%></p>
        <p><%= workshop.end_time%></p>
        <p>定員</p>
        <p><%= workshop.personnel %></p>
        <p>場所詳細</p>
        <p><%= workshop.prefecture %></p>
        <p><%= workshop.address1 %></p>
        <p><%= workshop.address2 %></p>
        <p>駐車場ありなし</p>
        <p>like</p>
        <p><%= link_to "レビュー",planners_posts_index_path(workshop.id),class: "w_btn_r" %></p>
        
      <% end %>
    </div>
  <% end %> 
</div>



