new
<h1>Planners::Schecules#new</h1>
<p>Find me in app/views/planners/schecules/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>スケジュール投稿画面</h1>
      
      <%=@workshop.w_title%>のスケジュールページ
    </div>
    <div class="col-12 mt-3 content">
      <%= form_for :schedule, url: planners_schedules_create_path do |f| %>
      <div class="day form-group">
        <%= f.label  'タイトル' %>
        <%= f.text_field :title %>
      </div>
      
      <div class="time form-group">
        <%= f.label  'スタート時間' %>
        <%= f.time_select :start_time%>
        <%= f.label  '終わる時間' %>
        <%= f.time_select :end_time%>

      </div>
      <div class="time form-group">
        <%= f.label  'memo' %>
        <%= f.text_field :content%>
      </div>
        <%= f.hidden_field :planner_id, value: current_planner.id %>
        スタートの日<%= f.date_field  :start_date%>
        終わりの日<%= f.date_field  :end_date%>
      <div class="submit">
        <%= f.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
    <% end %>
    
   
    <div class="col-12 text-right">
      <%= link_to '戻る', planners_schedules_index_path(@workshop) %>
    </div>
    </div>
  </div>
</div>