<p><%=current_planner.user_name%>様のマイページ</p>
<p>ワークショップ一覧<%=@workshop.w_title%></p>
<%=current_planner.user_name%>様のスケジュールページ

<div>
<% @workshop.schedule.each do |schedule| %>
    <p>タイトル：<%=schedule.title%>
    日程:<%= schedule.day%>
    時間:<%=schedule.time%>
    </p>
<% end %>
</div>