
<p>ワークショップ一覧<%=@workshop.w_title%></p>
<%=current_planner.user_name%>様のスケジュールページ
<div>


  <p>
    タイトル：<%=@schedule.title%></p>
    日程:
  <td><%=@schedule.start_date%>
  <p><%=@schedule.end_date%></p>
  <p><%=@schedule.start_time%></p>
   <p><%=@schedule.end_date%></p>
   
  </td>
  <td>  
   
  </td>
    時間:
  </p>

  <%= link_to "戻る",planners_schedules_new_path(@workshop)%>
  <%= link_to "編集",planners_schedules_edit_path(@workshop)%>
</div>