<h1>Planners::Planners#edit</h1>
<p>Find me in app/views/planners/planners/edit.html.erb</p>
<div>
  <h1>ASOBINAGARA</h1>
</div>
<div class="signup">
  <div class="signup_text"><span>会員登録(開催者専用)</span></div>
  <div class="body">
    <%= form_for @planner, url: planners_update_path(@planner.id) do |f| %>
      <div class="body_box">    
        <p><%= f.label :user_name %></p>
      </div>  
      <%= f.text_field :user_name, :placeholder => "User name"%><br>
      <div class="body_box">  
        <p><%= f.label :email%></p>
      </div>  
        <p><%= f.text_field :email, :placeholder => "email"  %><br>
      <div class="body_box">  
        <p><%= f.label :password %></p>
      </div>  
        <p><%= f.password_field :password, :placeholder => "password" %><br>
      <div class="body_box">  
        <p><%= f.label :password_confirmation %></p>
      </div>  
        <p><%= f.password_field :password_confirmation, :placeholder => "password_confirmation"%></p>
      <div class="body_box">  
        <p><%= f.label :name %></p>
      </div>  
        <%= f.text_field :first_name, :placeholder => "first_name", class:"name"%>
        <%= f.text_field :last_name, :placeholder => "last_name" ,class:"name" %> 
      <div class="body_box">
        <p><%= f.label :誕生日%></p>
      </div>
        <p><%= f.date_field :birthday, :placeholder => "birthday",value: @planner.birthday%></p>
      <div class="gender_box">
        <div class="body_box">
          <p><%= f.label :gender,'性別' %></p>
        </div>
        <%= f.select :gender, {'男性': 1,'女性': 2,'その他': 3},{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %></td>
      </div>
      <div class="body_box">
       <p><%= f.label :主催者の写真　%></p>
       <p><%=  f.file_field :planner_profile %></p>
      </div> 
      <div class="text_box">
        <p><%= f.label :開催者の自己紹介%></p>
        <p><%= f.text_field :p_detail, :placeholder => "開催者の自己紹介"%></p>
      </div>
      <div class="sign_btn">
        <p><%= f.submit "保存", class: "button" %></p>
      </div>
    <% end %>
  </div>
</div>


