<div class= "asobinagara">
<h1>ASOBINAGARA</h1>
</div>
<div class="signup">
    <div class="signup_text">
        <span>会員登録(参加者専用)</span>
    </div>
     <div class="body">
        <%= form_for :user, url: users_path do |f| %>
                <div class="body_box">    
                <%= f.label :User_name %>
                </div>  
                <%= f.text_field :user_name, :placeholder => "User name" %>
                <div class="body_box"> 
                <%= f.label :email%>
                </div>  
                <%= f.text_field :email, :placeholder => "email"  %>
                <div class="body_box"> 
                <%= f.label :password %>
                </div>  
                <%= f.password_field :password, :placeholder => "password" %>
                <div class="body_box"> 
                <%= f.label :password_confirmation %>
                </div> 
                <%= f.password_field  :password_confirmation, :placeholder => "password_confirmation"%>
                <div class="body_box">
                <%= f.label :name %>
                </div> 
                <%= f.text_field :first_name, :placeholder => "first_name",class:"name" %>
                <%= f.text_field :last_name, :placeholder => "last_name",class:"name" %>
                <div class="body_box">
                <%= f.label :誕生日%>
                </div> 
                <%= f.date_field :birthday, :placeholder => "birthday" %>
                <div class="gender_box">
                    <div class="body_box">
                    <%= f.label :gender,'性別' %>
                    </div>
                    <%= f.select :gender, {'男性': 1,'女性': 2,'その他': 3},{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
                </div>
            </div>
                <div class="sign_btn">
                    <%= f.button "会員登録", class: "button" %><br>
                </div>
        <%end%>
            <div class= "login">
            <span onclick="location.href= '/login'">ログイン</span>
            </div>    
</div>
<footer>
    <div class ="bottom-text2">
    <p>ASOBINAGARA <font class="s-text"> © ASOBINAGARA ,lnc.  All Right Reserved</fron></div></p>
    </div>
</footer>
