<div class= "u_mypage_body">
  <div class="signup_text">
    <p><%= @user.user_name %>様のマイページ</p>
  </div>
  <div class="user_info">
    <div class="user_info_left">
      <% if @user.u_profile_id? %>
        <%= image_tag @user.u_profile_id.url ,class: "u_profile_img" %>
      <% end %>
        <p><span>フロフィル写真</span></p>
    </div> 
    <div class="user_info_right">
      <p>name: <%= current_user.user_name %></p>
      <p>email: <%= current_user.email %></p>
      <p>first_name: <%=current_user.first_name %></p>
      <p>last_name: <%= current_user.last_name %></p>
      <p>birthday: <%= current_user.birthday %></p>
      <p>gender: <%= current_user.gender %></p>
      <span>予約0件</span>
      <span>投稿 <%= current_user.posts.count %>件</span>
    </div>
  </div>
  <div class="booking_detail">
    <p><span>Workshop予約履歴</span></p>
    <p><span>予約履歴</span></p>
    <p><span> 詳細内容</span></p>
    <p><span> 表示</span></p>
  </div>
    <hr>
  <div class="booking_detail1">
    <div class="planner_schedule">
      <div class="p_schedule">
        <a href="#">
          <svg class="p_schedule_i"version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 512 512"  xml:space="preserve">
            <style type="text/css">
              .st0{fill:#4B4B4B;}
            </style>
            <g>
              <path class="st0" d="M164.893,89.791c13.875,0,25.126-11.243,25.126-25.134V25.118C190.019,11.252,178.768,0,164.893,0
                c-13.875,0-25.135,11.252-25.135,25.118v39.538C139.758,78.548,151.018,89.791,164.893,89.791z" style="fill: rgb(75, 75, 75);"></path>
              <path class="st0" d="M350.184,89.791c13.867,0,25.126-11.243,25.126-25.134V25.118C375.31,11.252,364.05,0,350.184,0
                c-13.875,0-25.134,11.252-25.134,25.118v39.538C325.049,78.548,336.309,89.791,350.184,89.791z" style="fill: rgb(75, 75, 75);"></path>
              <path class="st0" d="M437.25,35.807h-39.865v28.849c0,26.04-21.169,47.218-47.201,47.218c-26.031,0-47.209-21.178-47.209-47.218
                V35.807h-90.881v28.849c0,26.04-21.178,47.218-47.2,47.218c-26.032,0-47.209-21.178-47.209-47.218V35.807H74.75
                c-38.977,0-70.575,31.599-70.575,70.575v335.043C4.175,480.401,35.773,512,74.75,512H437.25c38.976,0,70.575-31.599,70.575-70.575
                V106.382C507.825,67.406,476.226,35.807,437.25,35.807z M473.484,441.425c0,19.978-16.256,36.235-36.235,36.235H74.75
                c-19.979,0-36.235-16.257-36.235-36.235V150.984h434.969V441.425z" style="fill: rgb(75, 75, 75);"></path>
              <rect x="174.928" y="382.512" class="st0" width="63.592" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="174.928" y="283.96" class="st0" width="63.592" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="76.385" y="382.512" class="st0" width="63.583" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="76.385" y="283.96" class="st0" width="63.583" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="372.032" y="185.417" class="st0" width="63.584" height="63.582" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="273.48" y="185.417" class="st0" width="63.591" height="63.582" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="273.48" y="283.96" class="st0" width="63.591" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="372.032" y="283.96" class="st0" width="63.584" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="273.48" y="382.512" class="st0" width="63.591" height="63.591" style="fill: rgb(75, 75, 75);"></rect>
              <rect x="174.928" y="185.417" class="st0" width="63.592" height="63.582" style="fill: rgb(75, 75, 75);"></rect>
            </g>
          </svg>
          <p>予約</p>
        </a>    
      </div>
      <div class="p_schedule">
        <a href="#">
          <svg class="p_schedule_i" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve">
              <style type="text/css">
                .st0{fill:#4B4B4B;}
              </style>
              <g>
                <path class="st0" d="M341.374,265.845l168.152,146.591c1.599-5.25,2.474-10.818,2.474-16.583V117.087L341.374,265.845z" style="fill: rgb(75, 75, 75);"></path>
                <path class="st0" d="M256,283.102c7.208-0.015,14.31-2.492,20.11-7.538L499.591,80.739c-10.424-13.076-26.458-21.478-44.481-21.478
                  H56.89c-18.023,0-34.057,8.401-44.481,21.478L235.89,275.564C241.682,280.61,248.792,283.087,256,283.102z" style="fill: rgb(75, 75, 75);"></path>
                <path class="st0" d="M0,117.087v278.766c0,5.765,0.875,11.333,2.473,16.583l168.152-146.599L0,117.087z" style="fill: rgb(75, 75, 75);"></path>
                <path class="st0" d="M299.474,302.367c-12.432,10.841-28,16.303-43.474,16.288c-15.474,0.015-31.05-5.454-43.474-16.288
                  l-14.845-12.939L23.151,441.579c9.447,6.978,21.092,11.159,33.739,11.159h398.22c12.647,0,24.291-4.181,33.738-11.159
                  l-174.53-152.151L299.474,302.367z" style="fill: rgb(75, 75, 75);"></path>
              </g>
          </svg>
          <p>メッセージ</p>
        </a>
      </div>  
      <div class="p_schedule">
        <a href="#">
          <svg class="p_schedule_i" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 512 512"  xml:space="preserve">
            <style type="text/css">

              .st0{fill:#4B4B4B;}

            </style>
            <g>
            <path class="st0" d="M256,233.109c-28.5,0-51.594,23.297-51.594,52.047c0,28.766,23.094,52.047,51.594,52.047
              s51.594-23.281,51.594-52.047C307.594,256.406,284.5,233.109,256,233.109z" style="fill: rgb(75, 75, 75);"></path>
            <path class="st0" d="M497.375,140.297c-8.984-9.094-21.641-14.813-35.453-14.813h-54.203c-4.359,0.016-8.438-2.594-10.313-6.813
              l-16.234-36.344c-8.031-18.016-25.891-29.734-45.703-29.734H176.531c-19.813,0-37.672,11.719-45.719,29.719v0.016l-16.219,36.344
              c-1.875,4.219-5.953,6.828-10.313,6.813H50.078c-13.813,0-26.484,5.719-35.484,14.813C5.594,149.359,0,162.031,0,175.828v233.25
              c0,13.797,5.594,26.469,14.594,35.531c9,9.094,21.672,14.813,35.484,14.797h225.781h186.063
              c13.813,0.016,26.469-5.703,35.453-14.797c9.031-9.063,14.625-21.734,14.625-35.531v-233.25
              C512,162.031,506.406,149.344,497.375,140.297z M473.281,409.078c0,3.313-1.281,6.125-3.375,8.281
              c-2.156,2.109-4.844,3.328-7.984,3.344H275.859H50.078c-3.156-0.016-5.859-1.234-7.984-3.344c-2.094-2.156-3.375-4.969-3.375-8.281
              v-233.25c0-3.313,1.281-6.125,3.375-8.281c2.125-2.125,4.828-3.328,7.984-3.344h54.203c19.781,0,37.656-11.734,45.688-29.766
              l16.188-36.328c1.906-4.203,5.969-6.813,10.375-6.813h158.938c4.406,0,8.469,2.609,10.359,6.797l16.219,36.359
              c8.016,18.016,25.891,29.75,45.672,29.75h54.203c3.141,0.016,5.828,1.219,7.984,3.344c2.094,2.156,3.375,4.984,3.375,8.281V409.078
              z" style="fill: rgb(75, 75, 75);"></path>
            <path class="st0" d="M256,170.938c-31.313-0.016-59.75,12.844-80.203,33.5c-20.484,20.656-33.172,49.266-33.156,80.719
              c-0.016,31.453,12.672,60.094,33.156,80.719c20.453,20.672,48.891,33.516,80.203,33.516c31.297,0,59.75-12.844,80.203-33.516
              c20.484-20.625,33.172-49.266,33.156-80.719c0.016-31.453-12.672-60.063-33.156-80.719C315.75,183.781,287.297,170.922,256,170.938
              z M315.031,344.891c-15.172,15.297-35.953,24.688-59.031,24.688c-23.094,0-43.859-9.391-59.047-24.688
              c-15.141-15.297-24.5-36.328-24.516-59.734c0.016-23.391,9.375-44.422,24.516-59.734c15.188-15.297,35.953-24.672,59.047-24.688
              c23.078,0.016,43.859,9.391,59.031,24.688c15.156,15.313,24.516,36.344,24.531,59.734
              C339.547,308.563,330.188,329.594,315.031,344.891z" style="fill: rgb(75, 75, 75);"></path>
            <rect x="392.188" y="197.656" class="st0" width="34.406" height="34.406" style="fill: rgb(75, 75, 75);"></rect>
            </g>
          </svg>  
          <p>アルバム</p>
        </a>     
      </div>
    </div>   
  </div>  
    <hr>
  <div class="link_box">    
    <%= link_to "編集", "/users/#{@user.id}/edit/" , class:"link", data: {"turbolinks" => false} %> |
    <%= link_to "ワークショップを見に行く！", planners_workshops_index_path, class:"link" %>
  </div>
</div>