<div class= "asobinagara">
<h1>ASOBINAGARA</h1>
</div>
<div class="signup">
    <div class="signup_text">
   <p><span><%=current_user.user_name%>様</span></p>
   <p>ASOBINAGARAにようこそ!!</p>
   <p>詳細情報</p>
    </div>
     <h2><%= current_user.user_name %></h2>
      <p><%= current_user.email %></p>
      <p><%= current_user.first_name %></p>
      <p><%= current_user.last_name%></p>
      <p><%= current_user.birthday%></p>
      <p><%= current_user.gender%></p>

      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <%= link_to("会員登録", "/workshops/index") %>
</div>

