<div class= "asobinagara">
<h1>ASOBINAGARA</h1>
</div>
<div class="signup">
    <div class="signup_text">
        <span>ワークショップ詳細登録</span>
    </div>
     <div class="body">
        <%= form_for @event, url: events_create_path do|f| %>
                <div class="body_box">    
                <%= f.label :ワークショップ名 %>
                </div>  
                <%= f.text_field :w_title, :placeholder => "ワークショップ名" %>
                <div class="body_box"> 
                <%= f.label :ワークショップのテーマ%>
                </div>  
                <%= f.text_field :w_theme, :placeholder => "ワークショップのテーマ"  %>
                <div class="body_box"> 
                <%= f.label :主催者名 %>
                </div>  
                <%= f.label :firstname %>
                <%= f.text_field  :firstname, :placeholder => "あなたの名前を入力して下さい。" %>
                <%= f.label :lastname %>
                <%= f.text_field  :lastname, :placeholder => "あなたの名前を入力して下さい。" %>
                <%= f.label :firstname %>
                <%= f.text_field :f_name_E, :placeholder => "カタカナ表記/英語"%>
                <%= f.label :lastname %>
                <%= f.text_field :l_name_E, :placeholder => "カタカナ表記/英語"%> 
                <div class="sign_btn">
                    <%= f.button "次へ", class: "button" %><br>
                </div>
        <%end%>  
</div>

