<!-- index.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>3ヶ月先まで予約することができます。/index</p>
    </div>
    <div class="col-12 mt-3">

      <% @reservations.each do |reservation| %>
        <% if reservation.workshop %>
          <div class="reservation">
            <h2><%= reservation.workshop.w_title %></h2>
            <p>Name: <%= reservation.name %></p>
            <p>Date 1: <%= reservation.date_time_1 %></p>
            <p>Date 2: <%= reservation.date_time_2 %></p>
            <p>Date 3: <%= reservation.date_time_3 %></p>
            <p>Participants: <%= reservation.participant %>名参加希望</p>
            <p><%= reservation.check_box %></p>
            <%= link_to "編集", users_reservations_edit_path(current_user, reservation.id), data: {"turbolinks" => false}%>
            <%= link_to "削除", users_reservations_destroy_path(current_user, reservation), method: :delete, data: { confirm: "この投稿を削除しますか？" } %>
          </div>
        <% end %>
      <% end %>
        
    </div>
  </div>
</div>
