<!-- index.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>3ヶ月先まで予約することができます。</p>
    </div>
    <div class="col-12 mt-3">

      <% @reservations.each do |reservation| %>
        <% if reservation.workshop %>
          <div class="reservation">
            <h2><%= reservation.workshop.w_title %></h2>
            <p>Name: <%= reservation.name %></p>
            <p>Date 1: <%= reservation.date_time_1 %></p>
            <p>Date 2: <%= reservation.date_time_2 %></p>
            <p>Date 3: <%= reservation.date_time_3 %></p>
            <p>参加予定人数: <%= reservation.participant %>名参加希望</p>
            <% if reservation.check_box %>
              <p>同意しました。</p>
            <% else %>
            <p>同意してないです。</p>
            <% end %>
            <p><% reservation.check_box %></p>
            <%= link_to "編集", users_reservations_edit_path(current_user, reservation.id),class:"u_text", data: {"turbolinks" => false}%>
            <%= link_to "削除", users_reservations_destroy_path(current_user, reservation),class:"u_text", method: :delete, data: { confirm: "この投稿を削除しますか？" } %>
          </div>
        <% end %>
      <% end %>
        
    </div>
  </div>
</div>
