<!-- index.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>3ヶ月先まで予約することができます。</p>
    </div>
    <div class="col-12 mt-3">

   <!--予約ぺーじ注意 関連付けのため、各モデルにuser modelに下記を記入

    has_many :users,through: :reservations

    workshopモデルに

    has_many :users,through: :reservations書いてあるか、確認しましょう
    これを書くことによりuser.workshopsにデータ習得可能-->
        <% @reservations.each do|reservation| %>
        <% if reservation.workshop %>
        <p><%= reservation.workshop.w_title %></p>
        <% else %>
        <p>No associated workshop</p>
        <% end %>
          <p> <%= reservation.name %></p>
          <p><%= reservation.date_time_1 %></p>
          <p><%= reservation.date_time_2 %></p>
          <p><%= reservation.date_time_3 %></p>
          <p><%= reservation.participant %>名参加希望</p>
          <p><%= reservation.check_box %></p>
            <%= link_to "編集",users_reservations_edit_path(current_user,reservation.id) %>
            <%= link_to "削除",method: :delete, data: { confirm: "この投稿を削除しますか？"} %></p>
        <% end %>  
      
    </div>
  </div>
</div>