<p>予約ありがとうございます！</p>
<%=current_user.user_name%>様の予約詳細情報
<% @workshops.each do|workshop|%>
         <p> <%=workshop.w_title%></p>
      <% workshop.reservations.each do |reservation| %>
       <p><%reservation.workshop.w_title%></p>
       <p> <%=reservation.name%></p>
       <p><%=reservation.date_time_1%></p>
       <p><%=reservation.date_time_2%></p>
       <p><%=reservation.date_time_3%></p>
       <p><%=reservation.participant%>名参加希望</p>
       <p><%=reservation.check_box%></p>
            <%=link_to "編集",users_reservation_edit_path(@reservation)%>
            
            <%=link_to "削除",users_reservations_delete_path(@reservation),method: :delete%>
      
      <%end%>
<%end%>   
   <p>
   <%=link_to "他のworkshopを見る",users_workshops_index_path%>

   </p>

