<%= form_for @workshop, url:reservations_create_path do |f| %>

<%= f.hidden_field :workshop_id, value: @workshop.id %>
<div class="col-md-6">
   <label>借りたい日</label>
  <%= f.text_field  :start_date,  :class => 'datepicker' %>
</div>

 <div class="col-md-6">
<label>返す日</label>
<%= f.text_field :end_date, :class => 'datepicker' %>
</div>
</div>

<%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>    


<% end %>
