<%= form_for [@book, @book.reservations.new] do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
<div class="col-md-6">
  <label>借りたい日</label>
  <%= f.text_field  :start_date,  :class => 'datepicker' %>
</div>
<div class="col-md-6">
  <label>返す日</label>
  <%= f.text_field :end_date, :class => 'datepicker' %>
</div>
<%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>    


<% end %>

