<div class="p_body">
  <div class="p_title">
  </div>  
    <%= form_for @post, url: posts_create_path(workshop) do |f| %>
          <div class="body_box">
            <div class="b_b_t">
              <p> <%= f.label :ワークショップの写真をアップロード！%></p>
            </div>  
            <div class="b_b_i">
              <p><%=f.file_field :image%></p>
            </div>
          </div>
          <div>
            <!-星マーク>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div>
            <span></span>
          </div>
          <div class="body_box">    
            <p> <%=f.hidden_field :score, id:"rating-value"%></p>   
            <p> <%=f.hidden_field :workshop_id, value: workshop.id%></p>
            <p><%= f.text_field :title, :placeholder => "タイトル",class: "review_title_box"%></p>
            <p><%= f.text_field :content, :placeholder => "あなたの感想を書いて下さい。",class: "review_textarea_box"%></p>
            <p> <%= f.submit "投稿", class: "button" %></p>
             <div class="s_b"><p> <%=link_to "他のレビューを見る",posts_index_path(workshop), class: "review_check"%></p></div>
          </div>  
    <%end%>
</div>
  
