
<header class="card-header">
            <p class="card-header-title">
              <%= @workshop.w_title %>
            </p>
</header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @workshop.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
              <%=@post.title%> の詳細ぺーじです。
                <%= @workshop.avg_score %>点（<%= @workshop.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, workshop: @rworkshop %>
      </div>