<% @workshop.posts.each do |post| %>
  <div class="reviews">
    <div class="reviews_box_image">
      <%= image_tag post.image.url, size: '200x200' %>

    </div>
    <div class= "reviews_box_text">
        <span>タイトル：<%= post.title %></span>
   
      <div class= "reviews_box_content">
        <p>コメント<%= post.content %></p>
      </div>   
    </div> 
  </div>
  <div class="user_edit">
    <% if post.user_id == current_user.id %>
      <div class="post_link_box"> <p> <%= link_to "編集", users_workshops_edit_path(user_id: current_user.id, workshop_id: @workshop.id, post_id: post.id), class: "link_text" %> </p>
      <p><%= link_to "削除",
                users_posts_delete_path(workshop_id: post.workshop_id, post_id: post.id),
                method: :delete,
                data: { confirm: '本当に削除しますか？' },
                class: "link_text" %></p>

    <% end %>
  </div>
<% end %> 
 