<div class="user_worksshops_title">
  <span><%= workshop.w_title %></span>
</div>
<div class="user_workshop_box_image">
  <p> <%= image_tag @workshop.image.url, size: '300x300' %>
</div>  
<div class="user_average-score">
  <div class="user_star-rating">
    <div class="star-rating-front" style="width:<%= @workshop.review_score_percentage %>%"> ★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
  <div class="user_scroe_detail">
    <p><%= @workshop.avg_score %>点（<%= @workshop.posts.count %>件のレビュー）</p>
  </div>
</div> 
<% if @workshop.user_id == current_user.id %>
  <span><%= @workshop.w_title %></span>
    <div class="workshop_detail">
      <p><%= @workshop.prefecture %></p>
      <p><%= @workshop.address1 %> </p>
      <p><%= @workshop.address2 %> </p>
      <p><%= @workshop.w_detail %> </p>
      <p><%= @workshop.time %> </p>
      <p><%= @workshop.personnel %> </p>
      <p><%= @workshop.precautions %> </p>
    </div>
    <div class="s_b"><p><%= link_to "他のworkshopを見る",users_workshops_index_path(workshop), class: "review_check" %></p></div>
  </div>      
<% end %>  