<div class="w_side_header_p">
  <p>Home> workshopsの一覧ページ</p>
</div><!三本のイメージを押したら　カテゴリーが開きます。-->
<div class="w_body">
  <% @workshops.each do |workshop| %>
    <div class="w_table_left">
      <div class="w_header_left">
        <div class="w_title">
          <span><%= workshop.w_title%></span>
        </div>
        <div class="w_theme">
          <span><%= workshop.w_theme%></span>
        </div>
      </div>  
      <div class="w_img_d">
        <p> <%= image_tag workshop.image.url,class:"w_img"%>  
      </div>
      <div class="average-score">
        <div class="w_star-rating">
          <%link_to "workshop詳細ページに行く",%>
            <div class="star-rating-front" style="width:<%= workshop.review_score_percentage %>%"> ★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
        </div>
          <p><%= workshop.avg_score %>点（<%= workshop.posts.count %>件のレビュー）</p>
      </div>
    </div>
    <div class="w_table_right">
      <% if current_user.present? %>
        <p>空き状況</p>
        <p><%= workshop.time %></p>
        <p>定員<%= workshop.personnel %></p>
        <p>場所詳細</p>
        <p><%= workshop.prefecture %></p>
        <p><%= workshop.address1 %></p>
        <p><%= workshop.address2 %></p>
        <p>駐車場ありなし</p> 
        <p>like</p>
        <p><%= link_to "予約する",users_reservations_new_path,class: "w_btn_b" %></p>
        <p><%= link_to "レビュー",users_workshops_show_path(workshop.id),class: "w_btn_r" %></p>  
      <% else %>
        <p>空き状況</p>
        <p><%= workshop.time %></p>
        <p>定員<%= workshop.personnel %></p>
        <p>場所詳細</p>
        <p><%= workshop.prefecture %></p>
        <p><%= workshop.address1 %></p>
        <p><%= workshop.address2 %></p>
        <p>駐車場ありなし</p>
        <p>like</p>
        <p><%= link_to "レビュー",users_workshops_show_path(workshop.id),class: "w_btn_r" %></p>
      <% end %>    
    </div>
  <% end %> 
</div>



