<div class="p_side_header_p">
  <p>Home> workshopsのレビュー</p>
</div><!三本のイメージを押したら　カテゴリーが開きます。-->
<div class="p_body">
  <div class="p_title">
    <%= link_to "レビューを書く！",posts_create_path,class: "link_text"%></span>
  </div>       
  <div class="star-rating mb-2">
    <div class="star-rating-front" style="width: %">★★★★★</div>
      <div class="star-rating-back">★★★★★/5</div>
        <hr>
        <% @posts.each do|post| %>
          <div class="p_s_body">
            <p><%=image_tag post.image.url, size: '200x200' %></p>
            <p><%= post.title %></p>
            <p><%=post.content%></p>
          </div>  
          <div class= "p_t_h"> 
            <%if current_user%>
              <p><%=link_to "編集","/posts/#{@post.id}/edit",class: "link_text"%></p>
            <%end%>
          </div>
            <hr>
        <% end %>
  </div>
</div>

  
    

