    <!ユーザーによってheader変わる>
<% if current_planner.present? %>
 <div class="header1">
    <div class="s_header">ASOBINAGARA</div><!三本のイメージを押したら　カテゴリーが開きます。-->
      <div class="s_header1">
          <%= link_to "mypage",planners_show_path(current_planner.id),data: {"turbolinks" => false}  %>
          <%= link_to "workshop作成",workshops_new_path, data: {"turbolinks" => false}%>|
          <%= link_to "workshop見に行く",workshops_index_path, data: {"turbolinks" => false} %>|
          <%= link_to "ログアウト",planners_logout_path, method: :delete %>
        <select id="country" name="country" onchange="window.open(value,'_blank')";>
          <option value="/homes/select_position">Japanese</option>
          <option value="/homes/select_position_K">Korean</option>
          <option value="/homes/select_position_E">English</option>
        </select>
      </div>
    </div> 
 </div>
<% elsif current_user.present? %>
  <div class="header1">
    <div class="s_header">ASOBINAGARA</div><!三本のイメージを押したら　カテゴリーが開きます。-->
      <div class="s_header1">
       <%= link_to "top",root_path%>|
       <%= link_to "mypage",users_show_path(current_user.id), data: {"turbolinks" => false}%>|
       <%= link_to "workshopを見に行く",workshops_index_path, data: {"turbolinks" => false} %>|
       <%= link_to "ログアウト",users_logout_path, method: :delete %>
      </div>
    </div> 
  </div>  
<% else %>
  <span>ログインしましょう！</span>
  <div class="header1">
    <div class="s_header">ASOBINAGARA</div><!三本のイメージを押したら　カテゴリーが開きます。-->
      <div class="s_header1">
        <%= link_to "top",root_path%>|
        <%= link_to "ログイン",home_sign_in_path, data: {"turbolinks" => false}  %>|
        <%= link_to "会員登録",home_sign_up_path, data: {"turbolinks" => false} %>
      </div>
  </div>   
<% end %>

       