    <!ユーザーによってheader変わる>
<% if current_planner.present? %>
  <div class="header1">
    <div class="s_header">ASOBINAGARA</div>
        <div class="p_s_h_1 ">
          <ul>  
                <span><li class="horizontal-link"><%= link_to "mypage",planners_show_path(current_planner),data: {"turbolinks" => false}  %></li></span></br>
                <span><li class="horizontal-link"> <%= link_to "workshop作成",planners_workshops_new_path(current_planner), data: {"turbolinks" => false}%></li></span></br>
                <span><li class="horizontal-link"><%= link_to "workshop予約状況",planners_booking_index_path(current_planner,@reservation,params[:workhshop_id])%></li></span></br>
                <span><li class="horizontal-link"><%= link_to "workshop見に行く",planners_workshops_index_path, data: {"turbolinks" => false} %></li></span></br>
                <span><li class="horizontal-link"><%= link_to "ログアウト",planners_logout_path, method: :delete %></li>
          </ul>  
        </div>  
  </div>
<% elsif current_user.present? %>
  <div class="header1">
    <div class="s_header">ASOBINAGARA</div>
        <div class="u_s_h_1 ">
          <ul >
            <li class="horizontal-link"><%= link_to "Top", root_path, class: "link" %></li></br>
            <li class="horizontal-link"><%= link_to "mypage",users_show_path(current_user), data: {"turbolinks" => false}%></li></br>
            <li class="horizontal-link"><%= link_to "workshop_check",users_workshops_index_path, data: {"turbolinks" => false} %></li></br>
            <li class="horizontal-link">
            <%= link_to "ログアウト",users_logout_path, method: :delete %></br>
            </li>
          </ul>
        </div>
  </div>
<% else %>
  <div class="header1">
    <div class="s_header">ASOBINAGARA</div>
    <div class="s_h_1 ">
      <ul class="home_ul">
        <span><li class="horizontal-link"><%= link_to "Top", root_path, class: "link" %></li></span></br>
        <span><li class="horizontal-link"><%= link_to "Login", home_sign_in_path, class: "link", data: { "turbolinks" => false } %></li></span></br>
        <span><li class="horizontal-link"><%= link_to "Signin", home_sign_up_path, class: "link", data: { "turbolinks" => false } %></li></span></br>
        <span><li class="horizontal-link"><%= link_to "workshop_check", planners_workshops_index_path, data: { "turbolinks" => false } %></li></span>
        
      </ul>
    </div>
  </div>
<% end %>
